<div class="container-fluid body">
    <div class="row">
        <div class="col-md-2 col-sm-0 col-xs-0 col-lg-2"></div>
        <div class="col-md-8 col-sm-12 col-xs-12 col-lg-8">
            <div class="loginpage row">
                <div class="col-md-2 col-sm-0 col-xs-0 col-lg-2"></div>
                <div class="col-md-8 col-sm-12 col-xs-12 col-lg-8">
                    <h5 class="connexion text-center">Page non trouvé</h5>
                    <hr>
                    
                    <p>Oups !!! la page que vous cherchez ne se trouve pas sur notre server.</p>

                    <a routerLink="/">
                        <button type="submit" class="submitBtn btn btn-primary" (click)="connect()">Aller à l'accueil</button>
                    </a>
                </div>
                <div class="col-md-2 col-sm-0 col-xs-0 col-lg-2"></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-0 col-xs-0 col-lg-2"></div>
    </div>
</div>